<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--  Requried meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--  Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
    <!--  sbb CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <title>Hello sbb</title>
    <!--  Bootstrap.js -->

</head>
<body>
<!-- 네이게이션바 -->
<nav th:replace="~{navbar :: navbarFragment}"></nav>
<!-- 기본 템플릿 안에 삽일될 내용 start -->
<th:block layout:fragment="content"></th:block>
<!-- 기본 템플릿 안에 삽일될 내용 end -->

<!-- bootstrap Start -->
<script th:src="@{/bootstrap.min.js}"></script>
<!-- bootstrap End -->

<!-- 자바스크립트 Start -->
<th:block layout:fragment="script"></th:block>
<!-- 자바스크립트 End -->
</body>
</html>